In [5]:
import pandas as pd

In [6]:
dfs = pd.DataFrame([[1, 2, 3], [4, None, 5], [5, 6, None]], columns =["test1", "test2", "test3"])
dfs

   test1  test2  test3
0      1    2.0    3.0
1      4    NaN    5.0
2      5    6.0    NaN

In [11]:
dfs.isnull().sum()

test1    0
test2    1
test3    1
dtype: int64

In [15]:
dfs.mean()

test1    3.333333
test2    4.000000
test3    4.000000
dtype: float64

In [16]:
dfs.fillna(dfs.mean())

   test1  test2  test3
0      1    2.0    3.0
1      4    4.0    5.0
2      5    6.0    4.0